<h1>Update Song</h1>

<form action="/songs/<%=@song.id%>" method="Post">
  <input id="hidden" type="hidden" name="_method" value="PATCH"

    <label>Song Name:</label>
    <input type="text" name="name">
    <br></br>

    <label>Artist Name:</label>
    <input type="text" name="Artist Name">
    <br></br>

    <label>Choose a Genre:</label>
    <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>
    <br></br>

    <input type="submit" value="Update Song">
  </form>
