<h1>Create a New Song</h1>

<form action="/songs" method="POST">
  <label>Song Name:</label>
  <input type="text" name="name">
  <br></br>

  <label>Artist Name:</label>
  <input type="text" name="Artist Name">
  <br></br>

  <label>Choose a Genre:</label>
  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"></input>
  <%end%>

  <br></br>

    <label>Create a new Artist:</label>
    <br></br>
    <label>Name:</label>
      <input  type="text" name="artist[name]"></input>
    <br></br>
  <input type="submit" value="Create Song">
</form>
